<div class="call">
  <div class="call-box-top">
    <a href="https://api.whatsapp.com/send?phone=573193880958&text=Deseo%20saber%20acerca%20de%20sus%20servicios..." class="button button-green">WhatsApp: {{ .Site.Data.contact.phone }}</a>
  </div>
  <div class="call-box-bottom">
    <div class="call-mail"><strong>Email: </strong> <a href="mailto:{{ .Site.Data.contact.email }}">{{ .Site.Data.contact.email }}</a></div>
    <div class="call-phone"><strong>Llámanos: </strong> {{ .Site.Data.contact.phone }} </div>
  </div>
</div>
